<div class="edit-category-form">
    <form [formGroup]="editCategoryForm" (onSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title" required>
            <div *ngIf="editCategoryForm.get('title').touched && editCategoryForm.get('title').errors">
                <small class="text-danger" *ngIf="editCategoryForm.get('title').errors['required']">
                    Title is required.
                </small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!editCategoryForm.valid">Edit Category</button>
    </form>
</div>