<div class="create-task-form">
    <form [formGroup]="createCategoryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title" required>
           
            <div *ngIf="createCategoryForm.get('title').touched && createCategoryForm.get('title').errors">
                <small class="text-danger" *ngIf="createCategoryForm.get('title').errors['required']">
                    Category is required.
                </small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!createCategoryForm.valid">Create Category</button>
    </form>
</div>
